@model Projeto.Presentation.Models.AutenticarUsuarioModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Autenticar Usuário</h2>
<a href="/Home/Index" class="btn btn-danger">Voltar</a>
<hr/>

<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {          

            <label>Email do Usuario</label>
            @Html.TextBoxFor(model => model.Email,
           new { @class = "form-control", placeholder = "Digite aqui" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Email)
            </span>
            <br />

            <label>Senha do Usuario</label>
            @Html.PasswordFor(model => model.Senha,
           new { @class = "form-control", placeholder = "Digite aqui" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Senha)
            </span>
            <br />            

            <input type="submit" value="Login" class="btn btn-success" />
        }

        <strong> @TempData["Mensagem"]</strong>

    </div>
</div>

